

:root {
    font-size: 10px;
}
* {
    box-sizing:border-box;
}

.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}
